<template>
    <header class="HeaderTop">
        <h1 class="HeaderTop-title">
            <slot></slot>
        </h1>
    </header>
</template>

<script>
    export default{}
</script>

<style lang="scss" scoped>
    $githubGrayDarker: #24292e;
    .HeaderTop{ background-color: $githubGrayDarker; padding: 10px 40px; text-align: center; transition: all .3s ease; height: 100%;
        &-title{ color: #f3f3f3; display: inline-block; font-size: 2rem; font-weight: bold; line-height: 1.25em; overflow-wrap: break-word; word-break: break-word; word-wrap: break-word;
            small{ font-size: .65em; opacity: .75;}
        }
    }
</style>
