<template>
    <div class="UserCard-container">
        <section class="UserCard" v-for="star in stars">
            <div class="UserCard-header">
                <h1 class="UserCard-title">{{ star.name }}</h1>
                <span class="UserCard-stars">{{ star.counter }}</span>
            </div>
            <div class="UserCard-date">
                <time>Criação: {{ star.creationDate }}</time>
                <time>Push: {{ star.pushDate }}</time>
            </div>
            <div class="UserCard-content" v-if="star.language || star.description">
                <span class="UserCard-label" v-if="star.language">{{ star.language || None }}</span>
                {{star.description}}
            </div>
            <a class="UserCard-cta" :href="star.url" :title="`Página de ${star.name} no GitHub`">Ir para projeto &#x279c;</a> 
        </section>
    </div>
</template>

<script>
    export default{
        props: ['stars']
    }
</script>

<style lang="scss" scoped>
    $githubOrange: #BA3525;
    $githubGrayDark: #313440;
    $githubYellow: #fecf5f;
    $githubGreen: #3b9b6d;

    .UserCard{ position: relative; background-color: #ffffff; border-radius: 3px; box-shadow: 0 2px 5px rgba(0,0,0,.06); display: inline-block; margin: 0 1% 20px; padding-bottom: 80px; overflow: hidden; width:22.5%; min-width: 200px; 
        &-container{ display: flex; flex-wrap: wrap; text-align: center;}
        &-header{ position: relative; background-color: $githubGrayDark; color: #ffffff; display: table; vertical-align: middle; width: 100%; padding: 15px;
            * { vertical-align: middle;}
        }
        &-title{ display: table-cell; font-size: 1.25rem; padding-right: 5px; text-align: left; word-break: break-all; word-break: break-word;}
        &-label{ border: 1px solid rgba($githubOrange, .5); border-radius: 5px; color: $githubOrange; display: inline-block; font-size: .75em; margin-right: 5px; padding: 2px 5px; vertical-align: super;}
        &-content{ font-weight: normal; line-height: 1.5em; margin: 10px 0; overflow: hidden; padding: 20px; text-align: left; max-height: 150px;}
        &-stars{ color: $githubYellow; display: table-cell; font-size: 1rem; text-align: right; min-width: 65px;
            &:before{ content: "\002605"; display: inline-block; margin-right: 5px;}
        }
        &-date{ font-size: .7rem; color: rgba($githubGrayDark, .7); font-weight: 700; margin: 10px 0 0; text-align: center;
            time{ margin: 0px 7px; white-space: nowrap;}
        }
        &-cta{ position: absolute; left: 10%; bottom: 20px; background-color: $githubGreen; border-radius: 5px; color: #ffffff; cursor: pointer; display: block; font-weight: bold; padding: 10px 20px; text-decoration: none; width: 80%;
            &:hover{ background-color: lighten($githubGreen,8%);}
        }
    }

</style>