<script>
    import axios from 'axios'
    import HeaderTop from './components/HeaderTop.vue'
    import UserCard from './components/UserCard.vue'

    export default {
        components: {
            headerTop: HeaderTop,
            userCard: UserCard
        },

        data() {
            return{
                gitHubAPI: axios.create({ baseURL: 'https://api.github.com',timeout: 5000 }),
                username: "wilfernandesjr",
                starsData: {}
            }
        },

        created() {
            const self = this

            self.gitHubAPI.get(`/users/${self.username}/starred`)
                .then(response => {
                    const starsCrude = []
                    starsCrude.push(...response.data)
                    self.createReducedObject(starsCrude)
                })
                .catch( error => {
                    console.error(error)
                })
        },

        methods: {
            createReducedObject(obj) {
                console.log(obj);
                this.starsData = obj.map(data => {
                    return {
                        counter: data.stargazers_count,
                        creationDate: this.convertDateString(new Date(data.created_at)),
                        description: data.description,
                        language: data.language,
                        name: data.name,
                        pushDate: this.convertDateString(new Date(data.pushed_at)),
                        url: data.html_url
                    }
                })
            },

            convertDateString(date) {
                return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`
            }
        }
    }

</script>

<template>
    <div class="App">
        <header-top>Starred Repos <small>({{ username }} edition)</small></header-top>
        <div class="AppContainer">
            <user-card :stars="starsData"></user-card>
        </div>
    </div>
</template>

<style lang="scss">
    $bgColor: #d5d8da;

    body { background-color: $bgColor; box-sizing: border-box; color: #333333; font-family: 'Open Sans', 'Helvetica', 'Trebuchet MS', Arial, sans-serif; font-size: 14px; line-height: 150%; margin: 0; padding: 0;
        *{ box-sizing: border-box;}
    }
    .AppContainer{ margin: 20px auto 0; padding: 20px 40px; max-width: 1200px;}
</style>
